:root {
  --default-background-color: #6B818C;
  --second-background-color: white;
  --third-background-color: #fe5d26;
  --default-font-color: white;
  --second-font-color: #6B818C;
  --third-font-color: rgb(255, 230, 230);
  --fourth-font-color: black;
}

/* https://coolors.co/000000-14213d-fca311-e5e5e5-ffffff */
/* :root {
  --default-background-color: Black;
  --second-background-color: #14213D;
  --third-background-color: #FCA311;
  --default-font-color: white;
  --second-font-color: #E5E5E5;
  --third-font-color: #14213D;
  --fourth-font-color: black;
} */


* {
  box-sizing: border-box;
}

html {
  background-color: var(--default-background-color);
  width: auto;
}

body {
  margin: 0;
  font-size: 16px;
  font-family: 'Righteous', cursive;
  background-color: var(--second-background-color);
  display: grid;
}

header {
  margin: 0;
  position: sticky !important;
}

header nav {
  align-items: center;
  margin-top: 0px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0px;
  position: relative;
  display: flex;
  background-color: var(--default-background-color);
  border-bottom: 1px #fe5d26;
  border-bottom-style: groove;
  color: var(--default-font-color);
  width: 100%;
}

.logo {
  text-align: center;
  font-weight: 500;
  font-size: 28px;
  width: 120px;
  height: 80px;
  color: var(--default-font-color);
  padding: 10px 10px;
  margin-right: auto;
}

header nav div il {
  text-align: right;
}

.navigation {
  margin: 0;
  font-size: 24px;
  display: inline-block;
  font-weight: 500;
  margin-inline: 10px;
  /* margin-left: auto; */
  padding: 1em;
}

.navigation a {
  margin: 10px;
  padding-left: 0.5em;
  text-decoration: none;
  list-style-type: none;
  color: var(--default-font-color);
  border-left: 2px solid whitesmoke;
}

.navigation a:hover {
  color: var(--fourth-font-color);
}

.content {
  transition: margin-left .5s;
  display: grid;
  grid-template-columns: auto;
}

.content section {
  padding: 2.5em;
}

.content section h1 {
  margin: 0;
}

.content section h2 {
  margin: 0;
  padding: 0;
  font-size: 1.2em;
}

.content section a {
  font-family: 'IBM Plex Sans', sans-serif;
  font-weight: 800;
  list-style-type: none;
  text-decoration: none;
  overflow: auto;
}

.content section p {
  font-family: 'IBM Plex Sans', sans-serif;
  font-size: 1.2rem;
  font-weight: 100;
}

.MyProject {
  color: var(--third-font-color);
  padding-top: 3em !important;
  width: 100%;
  background: url('assets/my_projects.jpg');
  background-size: cover;
}

.MyProject h1 {
  padding-bottom: 1em;
  border-color: black;
  border-width: 2px;
  border-radius: 20px;
  border-style: solid;
  text-align: center;
  width: 100%;
  padding: 0;
  font-weight: 400;
  background: rgb(0, 0, 0, 0.45);
  margin-bottom: 20px !important;
}

.MyProject div {
  max-width: 600px;
  display: grid;
  overflow: auto;
}

.MyProject div ul {
  max-height: 75vh;
}

.MyProject div ul il {
  position: relative;
}

.MyProject a {
  color: var(--third-font-color);
  font-size: 1.2rem;
  padding: 1em;
  border-radius: 20px;
  border-color: #fe5d26;
  border-style: solid;
  display: inline-grid;
  margin-inline: 20px;
  margin-left: 5px;
  margin-right: 20px;
  margin-top: 15px;
  margin-bottom: 15px;
  width: 70%;
  height: 150px;
  background: rgb(0, 0, 0, 0.3);
  box-shadow: 1px 3px 7px #fe5d26;
}

.MyProject a:hover {
  color: var(--default-font-color);
  background: rgb(0, 0, 0, 0.6);
  box-shadow: 5px 10px 18px #fe5d26;
}

.About, .Contact {
  line-height: 1.8em;
}

.About {
  color: var(--third-font-color);
  background-color: var(--third-background-color);
}

.content .About a {
  color: var(--third-font-color);
  font-size: 1.6rem;
}

.content .About p {
  font-size: 1.4rem;
}

.content .About h2 {
  margin-top: 20px;
}

.About ul {
  padding: 0;
}

.scrollbar::-webkit-scrollbar, .scrollbar a::-webkit-scrollbar {
  width: 16px;
  height: 8px;
}

.scrollbar::-webkit-scrollbar-track, .scrollbar a::-webkit-scrollbar-track {
  background: rgb(0, 0, 0, 0.1);
  border-radius: 50px;
}

.scrollbar::-webkit-scrollbar-thumb, .scrollbar a::-webkit-scrollbar-thumb {
  background-color: rgb(0, 0, 0, 0.6);
  border-radius: 50px;
  border: 1px solid black;
  height: 30%;
}

section {
  scrollbar-color: rgb(0, 0, 0, 0.6) rgb(0, 0, 0, 0.1);
  scrollbar-width: thin;
  scroll-behavior: smooth;
  scroll-snap-type: proximity;
}

.Contact {
  /* color: #57737A ; */
  color: var(--second-font-color);
}

footer {
  background-color: var(--default-background-color);
  font-size: 0.5em;
  margin: 0px;
  min-height: 50px;
  text-align: center;
}

footer p {
  padding: 15px;
  color: aliceblue;
  font-family: 'Courier New', Courier, monospace;
}

.Skills {
  color: var(--second-font-color);
}

.Skills h1 {
  margin-bottom: 15px !important;
  /* display: flex; */
  /* max-width: 100%; */
  /* margin-bottom: 20px; */
}

.Skills h2 {
  max-height: 50px;
  margin-bottom: 15px !important;
}

.Skills ul {
  padding: 0;
  margin: 0px;
}

.Skills div {
  /* display: flex; */
  padding: 0;
  margin: 0;
}

.Skills ul il {
  /* display: inline-block; */
  margin-bottom: 20px;
}

.Skills il ul {
  display: inline-block;
  /* margin: 2px; */
  margin-left: 15px;
  margin-bottom: 15px;
}

.Skills il p {
  padding: 0px;
  margin: 0px;
  /* max-height: 500px; */
  /* margin-right: 15px; */
  text-align: left;
}

button.info {
  position: relative;
  top: 0x;
  left: 10px;
  background: rgb(255, 222, 74);
  border: 1px #6B818C;
  border-style: solid;
  border-radius: 50%;
  width: 35px;
  height: 35px;
}

button.info span {
  position: absolute;
  top: -50%;
  left: 120%;
  width: 200px;
  /* height: 100px; */
  color: rgb(255, 255, 255, 0.7);
  background-color: #fe5c26e1;
  border-color: rgb(0, 0, 0, 0.4);
  border-radius: 8px;
  border-style: solid;
  border-width: 1px;
  /* line-height: 35px; */
  text-align: center;
  box-shadow: 0px 5px 10px rgb(0, 0, 0, 0.2);
  opacity: 0;
  transition: opacity 1.1s;
}

button.info:hover span {
  opacity: 1;
  transition: opacity .8s;
}

button.info p {
  font-family: Arial, Helvetica, sans-serif;
  padding: 0;
  margin: 0;
  text-align: center;
  font-size: 24px;
  font-weight: 500;
}

.courses il {
  display: flex;
  max-height: 150px;
  width: 100%;
}

.About .courses a {
  font-size: 1em;
  font-weight: 100;
  color: var(--third-font-color);
  padding-bottom: 10px;
  padding-top: 10px;
}

.About .courses a:hover {
  color: var(--fourth-font-color);
}

.About .courses il p {
  margin: 6px;
  padding-top: 5px;
  margin-left: 20px;
  font-size: 0.6em;
}

.done {
  background-color: green;
  border-width: 1px;
  border-color: rgb(0, 0, 0, 0.2);
  border-style: solid;
  border-radius: 50%;
  margin-right: 15px;
  margin-bottom: auto;
  margin-top: auto;
  object-fit: fill;
  /* align-items: center; */
}

.working {
  background-color: orange;
  border-width: 1px;
  border-color: rgb(0, 0, 0, 0.2);
  border-style: solid;
  border-radius: 50%;
  margin-right: 15px;
  margin-bottom: auto;
  margin-top: auto;
}

.content .About .done p, .content .About .working p {
  width: 30px;
  height: 30px;
  margin: 0px;
  text-align: center;
  font-size: 15px;
  font-weight: 800;
  margin-top: auto;
  margin-bottom: auto;
  /* align-items: center; */
  line-height: normal;
}

/* to fix */

.MyProject div ul il .project_info {
  position: absolute;
  height: 35px;
  width: 200px;
  left: 0px;
  top: 0px;
  /* transform: translateY(-50%); */
  box-shadow: 0px 5px 10px rgb(0, 0, 0, 0.2);
  opacity: 0;
  color: rgb(0, 0, 0, 0.9);
  background-color: rgb(255, 230, 230, 0.8);
  border-color: rgb(0, 0, 0, 0.4);
  border-radius: 8px;
  border-style: solid;
  border-width: 1px;
  line-height: 35px;
  text-align: center;
  /* pointer-events: none; */
  transition: opacity .8s;
}

.MyProject div ul il:hover .project_info {
  opacity: 1;
  transition: opacity .5s;
}

@media only screen and (max-width: 640px) {
  .MyProject a {
    clear: both;
  }
}

@media only screen and (min-width: 641px) and (max-width: 1019px) {
  body {
    font-size: 20px;
  }
  .MyProject a {
    max-width: 450px !important;
  }

  .skills il p {
    width: 140px;
  }
  .MyProject div {
    overflow: auto;
  }
}

@media only screen and (min-width: 1020px) {
  body {
    font-size: 24px;
  }
  .content {
    grid-template-columns: 60% 40%;
    grid-template-rows: 80%, 20%;
  }
  /* To fix the stars position  */
  .Skills il p {
    width: 300px;
  }
}

@media only screen and (min-width: 1900px) {
  body {
    font-size: 24px;
  }
  .MyProject div {
    max-width: 1350px;
  }
  .MyProject div ul {
    grid-template-columns: 50% 50%;
    display: grid;
    padding-right: auto;
  }
  .MyProject a {
    min-width: 300px;
    margin-right: auto;
  }
}