.menu-button {
  width: 60px;
  height: 40px;
  position: fixed;
  top: 100px;
  left: 2px;
  background: url(assets/menu.png);
  background-size: cover;
  border: none;
}

.menu-button:hover {
  background: url(assets/menu_hover.png);
}

.side-menu {
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  width: 0;
  padding: 0px;
  overflow-x: hidden;
  transition: 0.5s;
  background-color: rgb(0, 0, 0, 1);
  font-family: 'Righteous', cursive;
  font-weight: 100;
}

.side-menu h1 {
  margin: 20px;
  margin-top: 100px;
  padding-right: 10px;
  color: rgb(255, 255, 255, 1);
  border: rgb(255, 255, 255, 0.1);
  font-size: 32px;
}

.side-menu h3 {
  margin: 0px;
  color: rgb(255, 255, 255, 1);
  border: rgb(255, 255, 255, 0.1);
  font-size: 0.5em;
  text-align: center;
}

.side-menu p {
  font-size: 0.8em;
  color: rgb(255, 255, 255, 1);
  border: rgb(255, 255, 255, 0.1);
  font-size: 0.8em;
  text-align: center;
}

.side-menu button {
  display: flex;
  padding: 10px;
  margin: auto;
  margin-bottom: 1em;
  color: black;
  border-color: rgb(255, 255, 255, 0.7);
  background-color: rgb(255, 255, 255, 1);
  border-radius: 15px;
  font-size: 24px;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.side-menu .closebtn {
  position: absolute;
  top: 115px;
  right: 20px;
  font-size: 36px;
  color: white;
}

.side-menu button:hover {
  color: Black;
  background-color: rgb(255, 255, 255, 0.95);
}